### Object oriented programing

In [1]:
class College:
    # properties  inside the class
    college_name = "Poornima institue of engineering"
    college_city = 'jaipur'

In [5]:
# object or instance creation 
obj1 = College()
obj2 = College()
obj3 = College()

In [8]:
print(obj3.college_name)

Poornima institue of engineering

In [10]:
obj1.college_name = "Institute of engineering agra"

In [11]:
print(obj1.college_name)

Institute of engineering agra

In [12]:
print(obj2.college_name)

Poornima institue of engineering

In [63]:
class College:
    # properties  inside the class
    # class variables 
    college_name = "Poornima institue of engineering"
    college_city = 'jaipur' 

    # instance variable constructor 
# it is kind of special function, and which used to initialized the variables 
    # you will not be need to call the constructor,
    # constructor executes automaticaly when you will create an object. 
    
    def __init__(self,cse_hod,ece_hod,e_hod): 
        # instance variables
        self.college_cse_hod = cse_hod
        self.college_ece_hod = ece_hod
        self.college_electrical_hod = e_hod
        self.student_marks = [25,35,45,41,42,47,49,38,39,29,46,47]
        self.random_number = [52,14,25,36,96,85,74,47,58,69,25,6,45,63,67,81,9,1,7,1,2,13,1,45,44]
        print("Constructor called !")

# self -- > pointer  
    
    def display(self): 
        print("My college name : ",self.college_name)
        print("My CSE HOD : ",self.college_cse_hod)
        print("My college city : ",self.college_city)



    def average_marks(self):
        marks = self.student_marks
        totat_sum = 0 
        count = 0 
        for item in marks: 
            totat_sum += item
            count += 1
        print(totat_sum/count)

In [64]:
# College.college_cse_hod
obj1 = College(cse_hod="Manoj sharma",ece_hod='uday pratap',e_hod='rahul trivedi') 
obj2 = College(cse_hod="Harish sharma",ece_hod='abhishek pratap',e_hod='hariom trivedi')

Constructor called !
Constructor called !

In [65]:
obj1.average_marks()

40.25

In [55]:
obj1.student_marks

[25, 35, 45, 41, 42, 47, 49, 38, 39, 29, 46, 47]

In [40]:
obj.college_ece_hod
#object.variable_name

'uday pratap'

In [47]:
obj1.display()

My college name :  Poornima institue of engineering
My CSE HOD :  Manoj sharma
My college city :  jaipur

In [50]:
obj2.display()

My college name :  Poornima institue of engineering
My CSE HOD :  Harish sharma
My college city :  jaipur

In [61]:
marks = [25,35,45,41,42,47,49,38,39,29,46,47]
marks 
def average_finder():
    totat_sum = 0 
    count = 0 
    for item in marks: 
        totat_sum += item
        count += 1
    print(totat_sum/count)

In [62]:
average_finder()

40.25

In [ ]:
class Hello: 
    def __init__(self):
        self.random_number = [52,14,25,36,96,85,74,47,58,69,25,6,45,63,67,81,9,1,7,1,2,13,1,45,44]

    # method  even no and odd no. count 
    def even_odd_counter(self):
        pass 

    def even_average_finder(self): 
        pass 

    def target_finder(self,item):

In [68]:
75 % 2 == 0

False