In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/upflairs-pvt-ltd/JECRC-20april2024/main/farmer.csv")
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [3]:
df.to_csv('farmer.csv',index=False)

In [4]:
df['label'].value_counts()

label
rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: count, dtype: int64

In [5]:
group = df.groupby('label')

In [8]:
group[['N']].mean()

                  N
label
apple         20.80
banana       100.23
blackgram     40.02
chickpea      40.09
coconut       21.98
coffee       101.20
cotton       117.77
grapes        23.18
jute          78.40
kidneybeans   20.75
lentil        18.77
maize         77.76
mango         20.07
mothbeans     21.44
mungbean      20.99
muskmelon    100.32
orange        19.58
papaya        49.88
pigeonpeas    20.73
pomegranate   18.87
rice          79.89
watermelon    99.42