In [181]:
import pandas as pd 
import numpy as np 
import re   # regular expression

In [182]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 9C35-B5F9

 Directory of C:\Users\Ranjit\Desktop\3rd_july_datascience\email_classification

06-08-2024  11:46    <DIR>          .
06-08-2024  11:46    <DIR>          ..
05-08-2024  10:24    <DIR>          .ipynb_checkpoints
05-08-2024  10:19    <DIR>          Data
06-08-2024  11:43               192 demo.txt
06-08-2024  11:46            29,339 email.ipynb
               2 File(s)         29,531 bytes
               4 Dir(s)  13,285,838,848 bytes free

In [183]:
message = """
Hiii we are from upflairs, and thank you for joining
our data science and machine program.
"""
file = open('demo.txt','w')  
file.write(message)
file.close()

In [184]:
file = open('demo.txt','r') 
data = file.read()
print(data)

Hiii we are from upflairs, and thank you for joining
our data science and machine program.

In [185]:
message = """
\nHiii we are from upflairs, and thank you for joining
our data science and machine program.
"""
file = open('demo.txt','a')  
file.write(message)
file.close()

In [186]:
file = open('demo.txt','r') 
data = file.read()
print(data)

Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.

In [187]:
file = open('demo.txt','r') 
data = file.read()
file.close()
print(data)

Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.

In [188]:
with open('demo.txt','r')  as file:
    data = file.read()
    print(data)

Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.

In [189]:
#

In [190]:
### file handling 
# Message = "hii we are from upflairs, thank you!" 

# "assign.txt"   ==> 1000 times

In [191]:
file_path = "./Data/SMSSpamCollection.txt"

file = open(file_path)
data = file.read()
file.close()

In [192]:
print("Total no. of emails : ", len(data.split('\n')))

Total no. of emails :  5575

In [193]:
data.split('\n')[1]

'ham\tOk lar... Joking wif u oni...'

In [194]:
x = []
y = []
for line in data.split('\n'):
    if len(line.split('\t')) == 2 :
        y.append(line.split('\t')[0])
        x.append(line.split('\t')[1])

In [195]:
len(x) , len(y)

(5574, 5574)

In [196]:
x[1]  # email message

'Ok lar... Joking wif u oni...'

In [197]:
y[1]   # label

'ham'

In [198]:
# create dataframe 
email_data = pd.DataFrame({"email_message":x,"labels":y})
email_data.head()

                                       email_message labels
0  Go until jurong point, crazy.. Available only ...    ham
1                      Ok lar... Joking wif u oni...    ham
2  Free entry in 2 a wkly comp to win FA Cup fina...   spam
3  U dun say so early hor... U c already then say...    ham
4  Nah I don't think he goes to usf, he lives aro...    ham

In [199]:
import  pandas as pd

In [200]:
df2 = pd.read_table(file_path)
df2.columns=["labels",'email_message'] 
df2.head()

  labels                                      email_message
0    ham                      Ok lar... Joking wif u oni...
1   spam  Free entry in 2 a wkly comp to win FA Cup fina...
2    ham  U dun say so early hor... U c already then say...
3    ham  Nah I don't think he goes to usf, he lives aro...
4   spam  FreeMsg Hey there darling it's been 3 week's n...

In [201]:
print("Total no. of emails : ",df2.shape[0])

Total no. of emails :  5571

In [202]:
single_email = df2['email_message'][1]
single_email

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [203]:
type(single_email)

str

In [204]:
single_email = single_email.lower()

In [205]:
single_email

"free entry in 2 a wkly comp to win fa cup final tkts 21st may 2005. text fa to 87121 to receive entry question(std txt rate)t&c's apply 08452810075over18's"

In [206]:
import re   # regular expression

In [207]:
re.findall("2",single_email)

['2', '2', '2', '2', '2']

In [208]:
re.sub("[^a-zA-Z ]","",single_email)  # substitute

'free entry in  a wkly comp to win fa cup final tkts st may  text fa to  to receive entry questionstd txt ratetcs apply overs'

In [209]:
single_email.replace('2',"")
single_email.replace('3',"")
single_email.replace('4',"")

"free entry in 2 a wkly comp to win fa cup final tkts 21st may 2005. text fa to 87121 to receive entry question(std txt rate)t&c's apply 0852810075over18's"

In [210]:
df2

     labels                                      email_message
0       ham                      Ok lar... Joking wif u oni...
1      spam  Free entry in 2 a wkly comp to win FA Cup fina...
2       ham  U dun say so early hor... U c already then say...
3       ham  Nah I don't think he goes to usf, he lives aro...
4      spam  FreeMsg Hey there darling it's been 3 week's n...
...     ...                                                ...
5566   spam  This is the 2nd time we have tried 2 contact u...
5567    ham               Will ü b going to esplanade fr home?
5568    ham  Pity, * was in mood for that. So...any other s...
5569    ham  The guy did some bitching but I acted like i'd...
5570    ham                         Rofl. Its true to its name

[5571 rows x 2 columns]

In [211]:
# lowercase 
# a-zA-Z  other char removed 
for i in range(len(df2['email_message'])):
    email_message = df2['email_message'][i]
    email_message = email_message.lower()
    df2['email_message'][i] = re.sub("[^a-zA-Z ]","",email_message)

C:\Users\Ranjit\AppData\Local\Temp\ipykernel_12696\1883652009.py:6: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df2['email_message'][i] = re.sub("[^a-zA-Z ]","",email_message)

In [212]:
df2['labels'].value_counts()

labels
ham     4824
spam     747
Name: count, dtype: int64

In [213]:
df2.head()

  labels                                      email_message
0    ham                            ok lar joking wif u oni
1   spam  free entry in  a wkly comp to win fa cup final...
2    ham        u dun say so early hor u c already then say
3    ham  nah i dont think he goes to usf he lives aroun...
4   spam  freemsg hey there darling its been  weeks now ...

In [214]:
ham =  df2[df2['labels'] == "ham"]
spam =  df2[df2['labels'] == "spam"]

In [215]:
spam.shape

(747, 2)

In [216]:
ham.shape

(4824, 2)

In [217]:
ham = ham.sample(1000)

In [218]:
ham.shape

(1000, 2)

In [219]:
# spam = spam.sample(1000,replace=True)

In [220]:
spam.shape  , ham.shape

((747, 2), (1000, 2))

In [221]:
new_df = pd.concat([spam,ham])

In [222]:
new_df.shape

(1747, 2)

In [223]:
new_df.duplicated().sum()

153

In [224]:
spam.duplicated().sum()

130

In [225]:
ham.duplicated().sum()

23

In [227]:
new_df['labels'].value_counts()

labels
ham     1000
spam     747
Name: count, dtype: int64

In [230]:
new_df['labels'] = new_df['labels'].map({'spam':1,'ham':0})

In [232]:
x = new_df['email_message']
y = new_df['labels']

In [236]:
type(x)

pandas.core.series.Series

In [239]:
x = x.values

In [241]:
type(x)

numpy.ndarray