In [76]:
import pandas as pd 
import numpy as np 
import re   # regular expression

In [6]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 9C35-B5F9

 Directory of C:\Users\Ranjit\Desktop\3rd_july_datascience\email_classification

05-08-2024  10:40    <DIR>          .
05-08-2024  10:40    <DIR>          ..
05-08-2024  10:24    <DIR>          .ipynb_checkpoints
05-08-2024  10:19    <DIR>          Data
05-08-2024  10:40                 0 demo.txt
05-08-2024  10:40             1,908 email.ipynb
               2 File(s)          1,908 bytes
               4 Dir(s)  12,407,308,288 bytes free

In [25]:
message = """
Hiii we are from upflairs, and thank you for joining
our data science and machine program.
"""
file = open('demo.txt','w')  
file.write(message)
file.close()

In [26]:
file = open('demo.txt','r') 
data = file.read()
print(data)

Hiii we are from upflairs, and thank you for joining
our data science and machine program.

In [35]:
message = """
\nHiii we are from upflairs, and thank you for joining
our data science and machine program.
"""
file = open('demo.txt','a')  
file.write(message)
file.close()

In [36]:
file = open('demo.txt','r') 
data = file.read()
print(data)

Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.

In [43]:
file = open('demo.txt','r') 
data = file.read()
file.close()
print(data)

Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.

In [44]:
with open('demo.txt','r')  as file:
    data = file.read()
    print(data)

Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.

In [49]:
#

In [ ]:
### file handling 
# Message = "hii we are from upflairs, thank you!" 

# "assign.txt"   ==> 1000 times

In [50]:
file_path = "./Data/SMSSpamCollection.txt"

file = open(file_path)
data = file.read()
file.close()

In [57]:
print("Total no. of emails : ", len(data.split('\n')))

Total no. of emails :  5575

In [59]:
data.split('\n')[1]

'ham\tOk lar... Joking wif u oni...'

In [60]:
x = []
y = []
for line in data.split('\n'):
    if len(line.split('\t')) == 2 :
        y.append(line.split('\t')[0])
        x.append(line.split('\t')[1])

In [61]:
len(x) , len(y)

(5574, 5574)

In [64]:
x[1]  # email message

'Ok lar... Joking wif u oni...'

In [65]:
y[1]   # label

'ham'

In [67]:
# create dataframe 
email_data = pd.DataFrame({"email_message":x,"labels":y})
email_data.head()

                                       email_message labels
0  Go until jurong point, crazy.. Available only ...    ham
1                      Ok lar... Joking wif u oni...    ham
2  Free entry in 2 a wkly comp to win FA Cup fina...   spam
3  U dun say so early hor... U c already then say...    ham
4  Nah I don't think he goes to usf, he lives aro...    ham

In [73]:
# df2 = pd.read_table(file_path)
# df2.columns=["labels",'email_message'] 
# df2.head()

In [77]:
email_data

                                          email_message labels
0     Go until jurong point, crazy.. Available only ...    ham
1                         Ok lar... Joking wif u oni...    ham
2     Free entry in 2 a wkly comp to win FA Cup fina...   spam
3     U dun say so early hor... U c already then say...    ham
4     Nah I don't think he goes to usf, he lives aro...    ham
...                                                 ...    ...
5569  This is the 2nd time we have tried 2 contact u...   spam
5570              Will Ã¼ b going to esplanade fr home?    ham
5571  Pity, * was in mood for that. So...any other s...    ham
5572  The guy did some bitching but I acted like i'd...    ham
5573                         Rofl. Its true to its name    ham

[5574 rows x 2 columns]