In [1]:
import pandas as pd 
import numpy as np 
import re   # regular expression

In [2]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 9C35-B5F9

 Directory of C:\Users\Ranjit\Desktop\3rd_july_datascience\email_classification

05-08-2024  11:40    <DIR>          .
05-08-2024  11:40    <DIR>          ..
05-08-2024  10:24    <DIR>          .ipynb_checkpoints
05-08-2024  10:19    <DIR>          Data
05-08-2024  10:53               968 demo.txt
05-08-2024  11:40            18,148 email.ipynb
               2 File(s)         19,116 bytes
               4 Dir(s)  13,337,137,152 bytes free

In [3]:
message = """
Hiii we are from upflairs, and thank you for joining
our data science and machine program.
"""
file = open('demo.txt','w')  
file.write(message)
file.close()

In [4]:
file = open('demo.txt','r') 
data = file.read()
print(data)

Hiii we are from upflairs, and thank you for joining
our data science and machine program.

In [5]:
message = """
\nHiii we are from upflairs, and thank you for joining
our data science and machine program.
"""
file = open('demo.txt','a')  
file.write(message)
file.close()

In [6]:
file = open('demo.txt','r') 
data = file.read()
print(data)

Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.

In [7]:
file = open('demo.txt','r') 
data = file.read()
file.close()
print(data)

Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.

In [8]:
with open('demo.txt','r')  as file:
    data = file.read()
    print(data)

Hiii we are from upflairs, and thank you for joining
our data science and machine program.


Hiii we are from upflairs, and thank you for joining
our data science and machine program.

In [9]:
#

In [10]:
### file handling 
# Message = "hii we are from upflairs, thank you!" 

# "assign.txt"   ==> 1000 times

In [11]:
file_path = "./Data/SMSSpamCollection.txt"

file = open(file_path)
data = file.read()
file.close()

In [12]:
print("Total no. of emails : ", len(data.split('\n')))

Total no. of emails :  5575

In [13]:
data.split('\n')[1]

'ham\tOk lar... Joking wif u oni...'

In [14]:
x = []
y = []
for line in data.split('\n'):
    if len(line.split('\t')) == 2 :
        y.append(line.split('\t')[0])
        x.append(line.split('\t')[1])

In [15]:
len(x) , len(y)

(5574, 5574)

In [16]:
x[1]  # email message

'Ok lar... Joking wif u oni...'

In [17]:
y[1]   # label

'ham'

In [18]:
# create dataframe 
email_data = pd.DataFrame({"email_message":x,"labels":y})
email_data.head()

                                       email_message labels
0  Go until jurong point, crazy.. Available only ...    ham
1                      Ok lar... Joking wif u oni...    ham
2  Free entry in 2 a wkly comp to win FA Cup fina...   spam
3  U dun say so early hor... U c already then say...    ham
4  Nah I don't think he goes to usf, he lives aro...    ham

In [22]:
import  pandas as pd

In [23]:
df2 = pd.read_table(file_path)
df2.columns=["labels",'email_message'] 
df2.head()

  labels                                      email_message
0    ham                      Ok lar... Joking wif u oni...
1   spam  Free entry in 2 a wkly comp to win FA Cup fina...
2    ham  U dun say so early hor... U c already then say...
3    ham  Nah I don't think he goes to usf, he lives aro...
4   spam  FreeMsg Hey there darling it's been 3 week's n...

In [26]:
print("Total no. of emails : ",df2.shape[0])

Total no. of emails :  5571

In [30]:
single_email = df2['email_message'][1]
single_email

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [31]:
type(single_email)

str

In [41]:
single_email = single_email.lower()

In [42]:
single_email

"free entry in 2 a wkly comp to win fa cup final tkts 21st may 2005. text fa to 87121 to receive entry question(std txt rate)t&c's apply 08452810075over18's"

In [44]:
import re   # regular expression

In [46]:
re.findall("2",single_email)

['2', '2', '2', '2', '2']

In [56]:
re.sub("[^a-zA-Z ]","",single_email)  # substitute

'free entry in  a wkly comp to win fa cup final tkts st may  text fa to  to receive entry questionstd txt ratetcs apply overs'

In [48]:
single_email.replace('2',"")
single_email.replace('3',"")
single_email.replace('4',"")

"free entry in  a wkly comp to win fa cup final tkts 1st may 005. text fa to 8711 to receive entry question(std txt rate)t&c's apply 0845810075over18's"

In [57]:
df2

     labels                                      email_message
0       ham                      Ok lar... Joking wif u oni...
1      spam  Free entry in 2 a wkly comp to win FA Cup fina...
2       ham  U dun say so early hor... U c already then say...
3       ham  Nah I don't think he goes to usf, he lives aro...
4      spam  FreeMsg Hey there darling it's been 3 week's n...
...     ...                                                ...
5566   spam  This is the 2nd time we have tried 2 contact u...
5567    ham               Will ü b going to esplanade fr home?
5568    ham  Pity, * was in mood for that. So...any other s...
5569    ham  The guy did some bitching but I acted like i'd...
5570    ham                         Rofl. Its true to its name

[5571 rows x 2 columns]